<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.usinasantafe.ecm">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ECMContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".view.MenuInicialActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ListaAtividadeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DataHoraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MsgDataHoraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PressaoEncPneuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PressaoColPneuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PneuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ListaPosPneuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.BackupCECActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.BackupPreCECActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CECActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CaminhaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CarretaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DesengCarretaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FrenteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.HodometroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ListaFinalizaApontActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ListaTurnoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MenuCertifActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MenuMotoMecActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ListaParadaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FuncionarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MsgNumCarretaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MsgSaidaCampoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.OSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SenhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.VerMotoristaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ItemCheckListActivity"
            android:screenOrientation="portrait" />
        <receiver android:name=".ReceberAlarme">
        </receiver>
        <activity
            android:name=".view.PergAtualCheckListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>