<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.usinasantafe.ecm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ECMContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DataHoraActivity"></activity>
        <activity android:name=".MsgDataHoraActivity" />
        <activity android:name=".PressaoEncPneuActivity" />
        <activity android:name=".PressaoColPneuActivity" />
        <activity android:name=".PneuActivity" />
        <activity android:name=".ListaPosPneuActivity" />
        <activity
            android:name=".MenuInicialActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AtivOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BoletimBKPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CertificadoBKPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BoletimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaminhaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaminhaoTurnoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarretaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarretaEngateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CertificadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DesengCarretaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnvioDadosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrenteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HodometroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LibOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaFinalizaApontActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaLocalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaTurnoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuCertifActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuMotoMecActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaParadaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MotoristaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MsgAtivOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MsgCarretaEngateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MsgLibOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MsgNumCarretaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MsgSaidaCampoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SenhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerMotoristaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItemCheckListActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".ReceberAlarme">
            <intent-filter>
                <action android:name="EXECUTAR_ALARME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PergAtualCheckListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>